* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.line {
  background: black;
  height: .1rem;
  width: 5rem;
  display: inline-block;
  margin-left: 1rem;
  margin-top: .2rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .title {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  font-weight: 400;
  font-size: 1rem;
}

#nav-btn {
  background-color: #4C45E7;
  width: 4rem;
  height: 4rem;
  border: none;
  padding: .7rem;
}

#nav-btn img {
  width: 65%;
}

#close-btn {
  background: transparent;
  width: 2rem;
  height: 2rem;
  border: none;
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.menu {
  background: #4C45E7;
  width: 50%;
  position: fixed;
  top: 0;
  right: -800px;
  bottom: 0;
  padding-top: 2rem;
}

.menu ul {
  margin-top: 1rem;
}

.menu li {
  padding: .7rem;
  font-size: 1rem;
  font-weight: 500;
}

.menu li a {
  color: #fff;
}

@-webkit-keyframes mymove {
  from {
    right: -800px;
  }
  to {
    right: 0;
  }
}

@keyframes mymove {
  from {
    right: -800px;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes close {
  from {
    right: 0;
  }
  to {
    right: -800px;
  }
}

@keyframes close {
  from {
    right: 0;
  }
  to {
    right: -800px;
  }
}
