* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ac-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.line {
  background: black;
  height: .1rem;
  width: 5rem;
  display: inline-block;
  margin-left: 1rem;
  margin-top: .3rem;
}

header {
  height: 100vh;
}

.section-title {
  margin-left: 1rem;
}

.section-title .line {
  height: .2rem;
  background: #4C45E7;
  margin-top: .7rem;
}

.section-title p {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.project-tile {
  margin-top: 2rem;
  border-radius: .7rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-tile .project-name {
  font-size: 1.4rem;
  text-align: center;
  margin: 2rem 0;
}

.project-tile .project-description {
  width: 90%;
}

.project-tile .project-description .project-lang {
  margin: 2rem 0;
}

.project-tile .project-description .project-build {
  background: #E6E6EA;
  margin: 1rem auto;
  padding: .6rem;
  text-align: center;
  border-radius: .9rem;
  font-size: .9rem;
  color: #fff;
  background: #4C45E7;
}

.project-image-container {
  width: 90%;
}

.project-image-container img {
  width: 100%;
  text-align: center;
  border-radius: .9rem;
}

.project-link {
  border: 2px solid #4C45E7;
  padding: .7rem;
  border-radius: .9rem;
  margin: .3rem .3rem 0 .3rem;
  color: #4C45E7;
}

@-webkit-keyframes mymove {
  from {
    right: -800px;
  }
  to {
    right: 0;
  }
}

@keyframes mymove {
  from {
    right: -800px;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    margin-top: .1rem;
  }
  100% {
    margin-top: .5rem;
  }
}

@keyframes arrow {
  0% {
    margin-top: .1rem;
  }
  100% {
    margin-top: .5rem;
  }
}

@-webkit-keyframes imagefade {
  0% {
    margin-left: 400px;
  }
  100% {
    margin-left: 2rem;
  }
}

@keyframes imagefade {
  0% {
    margin-left: 400px;
  }
  100% {
    margin-left: 2rem;
  }
}
