* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ac-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  background: black;
  height: .1rem;
  width: 5rem;
  display: inline-block;
  margin-left: 5rem;
  margin-top: .3rem;
}

header {
  height: 100vh;
}

section {
  margin: 4rem auto;
}

.mt-2 {
  margin-top: 2rem;
}

.d-block {
  display: block;
  width: 10rem;
  text-align: center;
}

.section-title {
  margin-left: 1rem;
}

.section-title .line {
  height: .2rem;
  background: #4C45E7;
  margin-top: .7rem;
}

.section-title p {
  margin-left: 1rem;
  margin-top: -.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.projects-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-tile {
  margin-top: 2rem;
  border-radius: .7rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem 2rem 3rem 2rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-tile .project-name {
  font-size: 1.4rem;
  text-align: center;
  margin: 2rem 0;
}

.project-tile .project-description {
  width: 90%;
}

.project-tile .project-description .project-lang {
  margin: 2rem 0;
}

.project-tile .project-description .project-build {
  background: #E6E6EA;
  margin: 1rem auto;
  padding: .6rem;
  text-align: center;
  border-radius: .9rem;
  font-size: .9rem;
  color: #fff;
  background: #4C45E7;
}

.project-image-container {
  width: 90%;
  padding: 2rem 0;
}

.project-image-container img {
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: .9rem;
}

.project-link {
  border: 2px solid #4C45E7;
  padding: .7rem;
  border-radius: .9rem;
  margin: .3rem .3rem 2rem .3rem;
  color: #4C45E7;
}

.sm-links a {
  width: 1.5rem;
}

.sm-links a img {
  width: 100%;
}

.about-author-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-author-container .about-image-container {
  width: 100%;
}

.about-author-container .about-image-container img {
  width: 100%;
}

@media only screen and (min-width: 544px) {
  .description h2 {
    font-size: 2.7rem;
    line-height: 5rem;
  }
  .description .author-description {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 992px) {
  .projects-container .project-tile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-container .project-tile div:nth-child(1) {
    margin-right: 5rem;
  }
  .projects-container .project-tile .project-description h4 {
    text-align: left;
    font-size: 1.7rem;
    font-weight: 700;
  }
  .about-author-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-author-container .about-image-container {
    width: 90%;
  }
  .about-author-container .about-image-container img {
    width: 90%;
    border-radius: 2rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

@-webkit-keyframes mymove {
  from {
    right: -800px;
  }
  to {
    right: 0;
  }
}

@keyframes mymove {
  from {
    right: -800px;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    margin-top: .1rem;
  }
  100% {
    margin-top: .5rem;
  }
}

@keyframes arrow {
  0% {
    margin-top: .1rem;
  }
  100% {
    margin-top: .5rem;
  }
}

@-webkit-keyframes imagefade {
  0% {
    margin-left: 400px;
  }
  100% {
    margin-left: 2rem;
  }
}

@keyframes imagefade {
  0% {
    margin-left: 400px;
  }
  100% {
    margin-left: 2rem;
  }
}
