$white:#fff;
$purple: #4C45E7;
$text-color: #010526;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

li{
  list-style:none;
}
a{
  text-decoration: none;
}


.container{
  width:80%;
  margin:0 auto;
}

.d-flex{
  display:flex;
}

.line{
  background:black;
  height:.1rem;
  width:5rem;
  display: inline-block;
  margin-left:1rem;
  margin-top:.2rem;
}

header{
  nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .title{
    margin-left:2rem;
    // margin-top:1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  h1{
    font-weight:400;
    font-size:1rem;
    
  }
}

#nav-btn {
  background-color: $purple;
  width:4rem;
  height:4rem;
  border:none;
  padding:.7rem;
  img{
    width:65%;
  }
}
#close-btn {
  background: transparent;
  width:2rem;
  height:2rem;
  border:none;
  padding: 0.5rem;
  position:absolute;
  top:1rem;
  right:2rem;
}

.menu {
  background:$purple;
  width:50%;
  position:fixed;
  top:0 ;
  right:-800px;
  bottom:0;
  padding-top:2rem;
  
  ul{
    margin-top:1rem;
  }
  
  li{
    padding:.7rem;
    font-size:1rem;
    font-weight: 500;
    
    a{
      color:$white;
    }
  }
  
}
.description{
  text-align:left;
  margin-top:6rem;
  h2{
    color:$text-color;
    margin-bottom:2rem;
    font-size: 2.5rem;
    font-weight: 400;
  }
  p{
    font-size:1.1rem;
    margin-bottom:2rem;
    line-height:2rem;
  } 
  
}
.scroll{
  color:$text-color;
  p{
    font-size:.9rem;
  }
  
}

.arrow-container{
  width:.7rem;
  img{
    width:100%;
    margin-left: .7rem;
    animation-name: arrow;
    animation-duration: .5s;
    animation-iteration-count: infinite;
  }
}

@keyframes mymove {
  from {right: -800px;}
  to {right: 0;}
}

@keyframes arrow{
  0%{margin-top:.1rem;}
  100%{margin-top:.5rem;}
}

.author-image{
  width:100%;
  height:10px;
  img{
    width:100%;
    max-height:auto;
  }
}
.showcase{
  flex-direction:column;
}

@media only screen and (min-width: 992px) {
  
  #nav-btn {
   background:none;
   margin-right: 2rem;
  }
  
  .img-background{
    width:35%;
    height:100%;
    background:$purple;
    position: absolute;
    right:0;
    top:0;
    z-index:-1;  
  }
  #close-btn{
    right:4rem;
  }
  .showcase{
    flex-direction:row;
    justify-content: space-between;
    height:100vh;
    
    .scroll{
      margin-top:7rem;
      p{
      font-weight:600;
      }
    
    }
    .author-image{
      width:100%;
      height:100%;
      
      img{
        width:58%;
        max-height:auto;
        margin-left: 14rem;
      }
    }
    
  }
  
  
}
