$white:#fff;
$purple: #4C45E7;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

li{
  list-style:none;
}
a{
  text-decoration: none;
}

.container{
  width:80%;
  margin:0 auto;
}

.line{
  background:black;
  height:.1rem;
  width:5rem;
  display: inline-block;
  margin-left:1rem;
  margin-top:.2rem;
}

header{
  nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .title{
    margin-left:2rem;
    // margin-top:1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  h1{
    font-weight:400;
    font-size:1rem;
    
  }
}

#nav-btn {
  background-color: $purple;
  width:4rem;
  height:4rem;
  border:none;
  padding:.7rem;
  img{
    width:65%;
  }
}
#close-btn {
  background: transparent;
  width:2rem;
  height:2rem;
  border:none;
  padding: 0.5rem;
  position:absolute;
  top:1rem;
  right:2rem;
}

.menu {
  background:$purple;
  width:50%;
  position:fixed;
  top:0 ;
  right:-800px;
  bottom:0;
  padding-top:2rem;
  
  
  
  
  ul{
    margin-top:1rem;
  }
  
  li{
    padding:.7rem;
    font-size:1rem;
    font-weight: 500;
    
    a{
      color:$white;
    }
  }
  
}

@keyframes mymove {
  from {right: -800px;}
  to {right: 0;}
}
@keyframes close {
  from {right: 0;}
  to {right: -800px;}
}

@media only screen and (min-width: 992px) {
  
}
